__pycache__
node_modules
accounts.db.zip
accounts.db
*.pyc
*.tmp
*.cert
*.signcert
*.sk
*.pk
*.acct
*.id
/pools
config/*.yaml
config/*.json
casper/*.yaml
config/accounts
backup.txt
settings.json
*.db
package-lock.json
yarn.lock
*.py_backup
export.json
_docs
node_secret.yaml
*.staging
casper/.DS_Store
.DS_Store
*.tar.gz
.travis.yml
*.db-journal
config/nodeconfig.py
